<form method="post" action="{{ path('app_actualite_patrimoine_delete', {'id': actualite_patrimoine.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette actualité?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ actualite_patrimoine.id) }}">
    <button class="bg-red-600 text-white font-semibold py-2 px-4 rounded-lg shadow-md hover:bg-red-700 hover:shadow-lg focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-opacity-50 transition duration-150 ease-in-out">
        Supprimer
    </button>
</form>
