{% extends 'base.html.twig' %}

{% block title %}Mise à jour de l'actualité{% endblock %}

{% block body %}

    <div class="container mx-auto flex flex-col items-center justify-centerp-4 bg-blue-200 shadow-md py-20">
        <h1 class="text-2xl font-bold mb-4">Mettre à jour l'actualité : {{ actualite_patrimoine.titreActualite }} </h1>

        {{ include('actualite_patrimoine/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

         <div class="mt-4 flex space-x-4">
            <a href="{{ path('app_actualite_patrimoine_index')  }}" class="text-blue-500 hover:underline">
                Retour à la liste
            </a>

            {{ include('actualite_patrimoine/_delete_form.html.twig', {
                'button_class': 'bg-red-600 text-white font-semibold py-2 px-4 rounded-lg shadow-md hover:bg-red-700 hover:shadow-lg focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-opacity-50 transition duration-150 ease-in-out'
            }) }}
        </div>
    </div>
{% endblock %}

